* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-right: 50px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
nav ul li a {
  padding: 10px;
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 26px;

  color: #000000;
}

.log img {
  width: 150px;
  padding: 10px;
  position: absolute;
  top: -30px;
  left: -20px;
}
.fa-bars {
  visibility: hidden;
  font-size: 30px;
}
.coter {
  display: flex;
  justify-content: space-evenly;
  z-index: 3;
}
.coter h3 {
  padding-left: 100px;
  color: black;
}
h1 {
  text-align: center;
  font-size: 50px;
  margin: 40px;
}
h1::after {
  content: "";
  background-color: #f0be4d;
  font-weight: 500;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 37%;
}
.con-p {
  text-align: center;
  background-color: #f0be4d;
  margin: 50px 0px;
  padding: 70px;
  font-size: 30px;
  width: 100vw;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.search-box {
  font-size: 20px;
  border: solid 0.3em #000000;
  display: inline-block;
  position: relative;
  border-radius: 2.5em;
  margin-left: 50px;
  margin-top: 35px;
  align-items: center;
  justify-content: center;
}
.search-box input[type="text"] {
  font-family: inherit;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  padding: 0.3em 2.1em 0.3em 0.4em;
  border: none;
  box-sizing: border-box;
  border-radius: 2.5em;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
   cursor: pointer;
}
.search-box input[type="text"]:focus {
  outline: none;
}
.search-box input[type="text"]:focus,
.search-box input[type="text"]:not(:placeholder-shown) {
  width: 18em;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.search-box input[type="text"]:focus + button[type="reset"],
.search-box input[type="text"]:not(:placeholder-shown) + button[type="reset"] {
  transform: rotate(-45deg) translateY(0);
  transition: transform 150ms ease-out 800ms;
}
.search-box input[type="text"]:focus + button[type="reset"]:after,
.search-box
  input[type="text"]:not(:placeholder-shown)
  + button[type="reset"]:after {
  opacity: 1;
  transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms,
    opacity 150ms ease 950ms;
}
.search-box button[type="reset"] {
  background-color: transparent;
  width: 1.4em;
  height: 1.4em;
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.55em;
  right: 0.55em;
  transform: rotate(-45deg) translateY(2.2em);
  transition: transform 150ms ease-out 150ms;
}
.search-box button[type="reset"]:before,
.search-box button[type="reset"]:after {
  content: "";
  background-color: #000000;
  width: 0.3em;
  height: 1.4em;
  position: absolute;
}
.search-box button[type="reset"]:after {
  transform: rotate(90deg);
  opacity: 0;
  transition: transform 150ms ease-out, opacity 150ms ease-out;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.sea-bar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 40px;
  height: 150px;
}
.men {
  border: 2px solid #f0be4d;
  border-radius: 40px;
  padding: 40px 20px;
}
.men label {
  font-size: 30px;
  padding: 40px;
  font-weight: 400;
}
#cat-selc {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  margin-left: 20px;
}
#recc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 500px);
  gap: 20px;
  margin: 50px 0px;
  background-color: #f2f2f2;
  background-size: cover;
}
.con {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.con:hover{
  transform:translateY(-1.25rem);
  transition: 1s ease-in-out;
}
.txt a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #f0be4d;
  font-size: 20px;
  font-weight: 700;
}
.txt button{
  background-color: #f0be4d;
  border-radius: 40px;
  border: 2px solid #f0be4d;
  padding: 10px 20px;
  
}
.txt button:hover{
  transform: scale(1.1);
  transition: 0.8s ease-in-out;
}
.txt button a{
  color: #000000;
}
.txt {
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.con img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  margin-bottom: 5px;
}
footer {
  background-color: #f2f2f2;
  padding: 30px 0;
}

footer h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #666;
}

footer p {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
.text-center {
  text-align: center;
}
.col-md-4 h3 {
  text-align: center;
  margin-bottom: 10px;
}
.col-md-4 ul {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 900px) {
  .con-p {
    width: 100% !important;
  }
  #recc {
    grid-template-columns: repeat(2, 1fr);
  }
  .sea-bar {
    flex-direction: column;
    height: auto !important;
  }
}

@media screen and (max-width: 600px) {
  #recc {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 900px) {
  .responsive {
    display: none !important;
  }
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 100%;
    height: 40vh;
  }
  .fa-bars {
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: visible;
  }
  h1::after {
    display: none;
  }
}
